body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height: 100vh;
}

*{
  box-sizing: border-box;
}

.header-item {
  display: flex;
  justify-content: end;
}
.navbar {
  background-color: rgb(253, 242, 236);
}
.container-1 {
  background-color: rgb(253, 242, 236);
}
.heading-box {
  border-radius: 5px;
  padding: 5px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  color: blueviolet;
  font-weight: 500;
  background-color: white;
  box-shadow: 0 0 5px 2px #767575;
}
.title-box {
  font-size: 2rem;
  font-weight: 700;
  word-break: break-word;
  text-align: center;
}
.description-box {
  color: #767575;
  text-align: center;
  font-weight: 500;
  font-size: 20px;
}
.action-box {
  align-items: center;
  gap: 15px;
  display: flex;
  justify-content: center;
}
.btn-purple,
.btn-purple:hover {
  background-color: rgb(130, 71, 255);
  color: white;
  font-weight: 500;
}
.sub-container-1 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 20%;
}
.btn-fixed{
  position: fixed;
    bottom: 20px;
    right: 20px;
    box-shadow: 0 0 10px -8px;
    font-weight: 500;
    z-index: 99;
}

.title-box2{
  font-size: 2rem;
  font-weight: 700;
  word-break: break-word;
  text-align: center;

}
.star-box{
  background-color: white;
  padding: 5px;
  max-width: fit-content;

  align-items: center;
    display: flex;
    flex: none;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 10px;
    height: 50px;
    justify-content: center;
    overflow: hidden;
    padding: 9px;
    position: relative;
    width: 50px;
    will-change: transform;
    border-radius: 20px;
}


.frame1{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 10px;
  justify-content: center;
   background-color: rgb(237, 237, 250);
   font-size: 2rem;
  font-weight: 700;
  text-align: left;
  border-radius: 20px;
  padding: 50px;  
  /* padding-top: 100px; */
}


.frame2{
  font-weight: 700;
  text-align: left;
  background-color: white;
  padding: 0;
  box-sizing: border-box;
  border-radius: 20px;
 
  width: 100%;
  border: 1px solid rgb(237, 237, 250);
}
.frame2>img{
  height:min-content;
  width: 100%;
}

.sub-container-2{
  background-color: #07061b;
  color: white;
  padding: 10% 5%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: start;
  align-items: start;
  text-align: left;
  padding-bottom: 0;
}
.section-box{
  border-radius: 25px;
  background-color: rgb(33, 33, 33);
  width: 100%;
  

  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
   font-size: 1rem;
  text-align: center;
   padding: 5%;  
 
}

.sub-section2{
  align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap:10px;
    width: 50%;
}
.sub-container-2>img{
  display: block;

    border-radius: inherit;
    object-position: center;
    object-fit: cover;
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
   }
   /* .collapsible1{
    background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
   }
   .active, .collapsible:hover {
    background-color: #ccc;
  } */

  /* .content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
  } */
  .faq-box{
    background-color: white;
    color: black;
    padding: 10% 5%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: start;
    align-items: start;
    text-align: left;
  }
  .testimonial-box{
    background-color: white;
    color: black;
    padding: 10% 5%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: start;
    align-items: start;
    text-align: left;

  }

.icon-box{
 background-color: #8247FF;
 width: min-content;
 opacity: 1;
 border-radius: 20px;
 height: min-content;
 padding: 20px;
 position: relative;
 display: flex;
 justify-content: center;
 align-items: center;
 margin: auto;
}
  .collapse-box{
    background-color: rgb(247, 248, 253);
    border-radius: 20px;
    padding:20px;
    

  }
  

  .collapse-box>button{
    text-decoration: none;
    color: black ;
    font-size: 20px;
    font-weight: bold;
    width: 100%;
    border: none;
    background-color: transparent;
    text-align: left;


  }
  /* .collapse-box>button:focus{
    color: #8247FF;
    
  }
  .collapse-box>button:default{
    color:black;
    
  } */
  
  .collapse-box i{
    float: right;
    font-weight: 600;
    color: rgb(130, 71, 255);

  }
  /* .collapse-box>button:focus>.fa-xmark{
   display: block !important;
  } */
  /* .collapse-box>button:focus>.fa-plus{
    display: none;
   } */
   .text-decoration{
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0em;
    color: #767575;
    display: flex;
    gap: 10px;
    align-items: center;
}

.text-decoration i{
  color: rgb(93, 192, 133);
}
   
.pricing-frame{
  background-color: white;
    align-items: center;
    color: rgb(254, 129, 98);
    width: max-content;
    padding: 4px 10px;
    border-radius: 8px;
    font-size: 15px;
    height: min-content;
}
.button-deco{
  width: max-content;
  font-size: 20px;
  font-weight: 600;
  padding: 7px 15px;
  border-radius: 10px;
  margin-top: 60px;
}
.button-deco:hover{
  border: 1px solid black;
}
.pricing-box{
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.testimonial-frame{
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: 1px solid rgb(237, 237, 250);
  border-radius: 30px;
  background-color: rgb(255, 255, 255);
  padding: 50px;
  gap:30px;
  min-width: 30%;

}

.img-section-box{
  display: flex;
    flex-direction: row;
    display: flex;
    flex-direction: row;
    gap: 15px;
    font-weight: 500;
  
}

.parent-frame{
  display: flex;
  width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    margin: 0px;
    padding: 10px;
    gap: 20px;
    overflow-x: auto;
    /* animation: swipe 1000ms linear infinite backwards; */
}
.parent-frame::-webkit-scrollbar{
  height: 0px;
}
@keyframes swipe {
  0% {
    transform: translate(0);
  }

  100% {
    transform: translate(-100%);
  }
}

.user-box{
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 20%;
  background-color: white;
  border-radius: 30px;
  padding-top: 25px
}
.font-style{
  font-size: 20px;
  font-weight: 500;
}

section{
  display: flex;
    animation: swipe 10000ms linear infinite backwards;
}
.nav-box{
  width: fit-content;
    float: right;
    align-items: center;
    padding: 10px;
    padding: 10px;
}

.nav-box ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.nav-box a {
 color:black;
 font-weight: 500;
}
.footer{
  padding: 5%;
  font-weight: 500;
}
.d-flex{
  padding: 5%;
}
.logo-box{
  flex: 1 1 0%;
  display: flex;
  gap: 10px;
  font-weight: 500;
  font-size: x-large;
}